{{!--
This subscribe template is used to display the form where users can subscribe.
You need to enable the members feature first.
--}}

<div class="m-subscribe-section__form">
<h3>blabla !</h3>
</div>
